<div class="page-header">
  <h1>Listing jobs</h1>
</div>
<div style="float:left;width:100%;clear:both"> <%= link_to 'New Job', new_job_path %></div>

<div>
<% @jobs.each do |job| %>
<div class="job">
  <div style="float:left;width:60%"> <p><strong><%= job.name %> </strong> |
    <%= job.content %> | <%= job.timespent %> minutes spent | <%=job.created_at.strftime("%d %b %y")%> 
    </p>
  </div>
        <div style="float:left;width:30%"><p>
          <%= link_to 'Show', job %> |
          <%= link_to 'Edit', edit_job_path(job) %> |
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
         
      </p>
    </div>

 <% end %>

